<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="finis Africae">
        <title>finis Africae - Share</title>
    </head>
    <body>
        <H1>Share finis Africae</H1>
        <h2>Enter the username of the person with whom you wish to share your library</h2>
        <p>form here</p>
    </body>