<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="finis Africae">
        <title>finis Africae - Book</title>
    </head>
    <body>
        <h1>{{.}} Insert book title here</h1> 
        <button>Edit</button>
        <button>Burn</button>


        <h2>Information...</h2>
        <h2>Notes</h2>
        <h2>Tags</h2>
    </body>
</html>